/* Root Variables */
:root {
    --main-clr: #333333;
    --pri-clr: #00ff80;
    --sec-clr: #dddddd;
    --code-clr: #444444;
    --h1-gradient: to right, var(--sec-clr), #bbbbbb, var(--main-clr);
}

/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    min-width: 350px;
    background-color: var(--main-clr);
    color: var(--sec-clr);
    font-family: monospace;
    line-height: 1.6;
}

hr {
    margin-block: 2rem;
}
/* Typography & Elements */
pre {
    margin-block: 5px;
    padding: 5px 10px;
    border: 1px solid var(--sec-clr);
    border-radius: 5px;
    background-color: var(--code-clr);
    color: var(--pri-clr);
    overflow-x: auto;
}

img {
    max-width: 100%;
    margin-block: 10px;
    border-radius: 30px;
}

/* Links */
a {
    text-decoration: none;
    color: #00aa60;
}

a:hover {
    color: var(--pri-clr);
}

a:visited {
    color: #00f0ff;
}

p a::before {
    content: "\276E\276E  ";
    color: var(--sec-clr);
}

p a::after {
    content: " \276F\276F";
    color: var(--sec-clr);
}

table {
    border: #bbbbbb 2px solid;
    text-align: center;
    font-size: 1.1rem;
}

td {
    padding-inline: 0.75rem;
    border-top: #bbbbbb 1px solid;
    border-right: #bbbbbb 1px solid;
}

td:last-of-type {
    border-right: none;
}

.error {
    margin-block: 5px;
    padding: 5px 10px;
    border: 1px solid var(--sec-clr);
    border-radius: 5px;
    background-color: var(--code-clr);
    color: red;
    overflow-x: auto;
}

/* Sidebar Styling */
.sidebar {
    position: fixed;
    top: 0;
    left: -250px; /* Initially hidden */
    width: 250px;
    height: 100%;
    padding: 20px;
    background-color: var(--pri-clr);
    overflow-y: auto;
    transition: left 0.3s ease;
}

.sidebar #tab-icon {
    width: 100%;
    display: flex;
    justify-content: center;
}

.sidebar #tab-icon img {
    width: 100px;
    border-radius: 10px;
}

.sidebar h2 {
    margin-bottom: 20px;
    color: var(--main-clr);
    font-size: 1.5rem;
}

.sidebar ul {
    list-style: none;
}

.sidebar li a {
    display: block;
    padding: 10px;
    border-radius: 10px;
    color: var(--main-clr);
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.sidebar li a:hover {
    background-color: var(--sec-clr);
    color: var(--main-clr);
}

#home-icon {
    text-align: center;
    font-size: 2rem;
}

/* Sidebar Toggle Button */
.toggle-button {
    position: fixed;
    top: 50%;
    left: -10px;
    z-index: 1000;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--pri-clr);
    color: var(--main-clr);
    cursor: pointer;
    font-size: 2rem;
    transform: translateY(-50%);
    transition: left 0.3s ease;
}

.toggle-button:hover {
    background-color: var(--sec-clr);
    color: var(--main-clr);
}

/* Main Content Styling */
.main-content {
    margin: 50px;
    padding: 20px;
}

.main-content header {
    margin-bottom: 30px;
    text-align: center;
}

.main-content header h2 {
    background: none;
    color: var(--pri-clr);
}

.main-content h1 {
    color: var(--pri-clr);
    font-size: 4.5rem;
}

.main-content h2 {
    margin-bottom: 10px;
    padding-left: 5px;
    background: linear-gradient(var(--h1-gradient));
    color: var(--main-clr);
    font-size: 3.5rem;
}

.main-content p {
    font-size: 1rem;
}

.main-content section {
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 255, 128, 0.3);
    background-color: var(--main-clr);
}


/* Chapter Specific Styles */
.chapter h2{
    font-size: 2.3rem !important;
}

.chapter h3 {
    margin-block: 10px;
    padding-left: 5px;
    color: var(--pri-clr);
    font-size: 1.7rem;
}

.chapter h4 {
    margin-top: 10px;
    padding-left: 5px;
    color: var(--pri-clr);
    font-size: 1.2rem;
}

.chapter.about h2 {
    background: none;
    color: var(--pri-clr);
    text-align: center;
}

.chapter.about h3 {
    background: none;
    color: var(--pri-clr);
    text-align: center;
}

.chapter ul {
    margin-left: 25px;
    font-size: 1rem;
}

.chapter p {
    padding-left: 5px;
}

.video-frame {
    margin-block: 1rem;
    display: flex;
    justify-content: center;
}

.video-frame iframe {
    width: 650px;
    aspect-ratio: 1.8;
    border: solid 2px var(--sec-clr);
    border-radius: 20px;
}

.recipe p {
    margin-top: 1.2rem;
}

/* Scrollbar styling for Chrome, Edge, and Safari */
::-webkit-scrollbar {
    width: 18px; /* Width of the scrollbar */
    padding: 4px;
}

::-webkit-scrollbar-track {
    background: var(--pri-clr); /* Color of the track */
}

::-webkit-scrollbar-thumb {
    background: var(--main-clr); /* Color of the scroll thumb */
    border-radius: 20px; /* Rounded corners for the thumb */
    border: 2px solid var(--sec-clr); /* Border around the thumb */
}

/* Scrollbar styling for Firefox */
* {
    scrollbar-width: thin; /* "auto" or "thin" for Firefox */
    scrollbar-color: var(--main-clr) var(--pri-clr); /* Thumb and track color */
}


@media (max-width: 750px){
    table {
        font-size: 0.9rem;
    }
    .main-content {
        margin: 30px;
    }
    .main-content h1{
        font-size: 3.5rem ;
    }
    .main-content h2 {
        font-size: 3.0rem ;
    }
    .main-content p {
        font-size: 0.9rem;
    }
    .chapter h2{
        font-size: 2.0rem !important;
    }
    .chapter h3 {
        font-size: 1.5rem;
    }
    .chapter h4 {
        font-size: 1.1rem;
    }
    .chapter ul {
        font-size: 0.9rem;
    }
}


@media (max-width: 500px){
    table {
        font-size: 0.75rem;
    }
    .main-content {
        margin: 20px;
    }
    .main-content h1{
        font-size: 2.7rem ;
    }
    .main-content h2 {
        font-size: 2.5rem ;
    }
    .main-content p {
        font-size: 0.85rem;
    }
    .chapter h2{
        font-size: 1.7rem !important;
    }
    .chapter h3 {
        font-size: 1.35rem;
    }
    .chapter h4 {
        font-size: 1.0rem;
    }
    .chapter ul {
        font-size: 0.85rem;
    }
}

@media (max-width: 450px){
    table {
        font-size: 0.6rem;
    }
    .main-content {
        margin: 5px;
    }
    .main-content h1{
        font-size: 2.2rem ;
    }
    .main-content h2 {
        font-size: 2.0rem ;
    }
    .main-content p {
        font-size: 0.8rem;
    }
    .chapter h2{
        font-size: 1.3rem !important;
    }
    .chapter h3 {
        font-size: 1.15rem;
    }
    .chapter h4 {
        font-size: 0.95rem;
    }
    .chapter ul {
        font-size: 0.8rem;
    }
}